  <div class="container">
  	<div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-11">  
    		<div class="col-md-4">
    			<div class="card">
    				<form action="/products" method="POST">
    					<input type="hidden" id="category" name="user[category]" value="drinks">
  	    			<img  id="image"class="img-fluid" src="drinks.jpg" alt="Card image cap">
  				    <div class="card-block" id="imageButton">
  				    	<button class="btn btn-primary btn-block" type="submit">COOL DRINKS</button>
  				    </div>
  				  </form>
  			  </div>
    		</div>
        <div class="col-md-4">
          <div class="card">
            <form action="/products" method="POST">
              <input type="hidden" id="category" name="user[category]" value="drinks">
              <img  id="image"class="img-fluid" src="drinks.jpg" alt="Card image cap">
              <div class="card-block" id="imageButton">
                <button class="btn btn-primary btn-block" type="submit">COOL DRINKS</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <form action="/products" method="POST">
              <input type="hidden" id="category" name="user[category]" value="drinks">
              <img  id="image"class="img-fluid" src="drinks.jpg" alt="Card image cap">
              <div class="card-block" id="imageButton">
                <button class="btn btn-primary btn-block" type="submit">COOL DRINKS</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  		</div>
  	</div>